

.large { font-size: 130% }

.small { font-size: 70% }

.tiny { font-size: 40%}

.pull-left_25 {
  float: left;
  width: 25%;
}
.pull-left_30 {
  float: left;
  width: 30%;
}
.pull-right_75 {
  float: right;
  width: 75%;
}

.pull-right_70 {
  float: right;
  width: 70%;
}

h1{
  margin-top: 10px;
  margin-bottom: 5px;
}

.title-slide h3:nth-of-type(-n+4) {
    font-size: 25px;
    margin: 1em;
}

.inverse h2{
  color: #FF1B70;
}

.remark-slide-content {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}